



<main>
    <div class="left">

        <div class="top">
            <div>
                <p>Contacts</p>
            </div>
            <div class="line">
                
            </div>

            <button (click)="createContact()">Create a contact</button>
        </div>

        <div class="contact-list">
            <app-contact *ngFor="let contact of contacts" [id]="contact.id" [name]="contact.name" [email]="contact.email" />
        </div>
    </div>
</main>





<!-- <ul>
    <li *ngFor="let contact of contacts">{{ contact.name }}</li>
</ul> -->